*
!/**/
/*/
!.github/
!/test/
!/build/
!/src/
!/include/
!/docs/
!.github/**
!/docs/_includes/**
!/docs/assets/**
!LICENSE
!CODEOWNERS
!.gitattributes
!.gitignore
!.gitmodules
!.clang-format
!Dockerfile
!.dockerignore
!*.sh
!*.md
!*.in
!*.cpp
!*.hpp
!*.c
!*.h
!*.html
!*.yml
!*.yaml
!*.css
!*.xml
!.gitkeep
!CMakeLists.txt
!version.txt