*
!/**/
/*/
!.github/
!/test/
!/build/
!/src/
!/service/
!/docs/
!/docker/
!.github/**
!/service/**
!/docs/_includes/**
!/docs/assets/**
!LICENSE
!CODEOWNERS
!.gitattributes
!.gitignore
!.gitmodules
!.clang-format
!makefile
!Dockerfile
!*.mk
!*.sh
!*.md
!*.txt
!*.ini
!*.cpp
!*.hpp
!*.c
!*.h
!*.html
!*.yml
!*.yaml
!*.css
!*.xml
