[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/TestPlusPlus"]
	path = vendor/TestPlusPlus
	url = https://github.com/Jarthianur/TestPlusPlus.git
[submodule "vendor/boost"]
	path = vendor/boost
	url = https://github.com/boostorg/boost.git
	branch = master
[submodule "vendor/asio"]
	path = vendor/asio
	url = https://github.com/chriskohlhoff/asio.git
