.ral-yellow,
.ral-hover-yellow:hover {
    color: #fff;
    background-color: #f7ba0b
}

.ral-orange,
.ral-hover-orange:hover {
    color: #fff;
    background-color: #d4652f
}

.ral-red,
.ral-hover-red:hover {
    color: #fff;
    background-color: #a02128
}

.ral-violet,
.ral-hover-violet:hover {
    color: #fff;
    background-color: #904684
}

.ral-blue,
.ral-hover-blue:hover {
    color: #fff;
    background-color: #154889
}

.ral-green,
.ral-hover-green:hover {
    color: #fff;
    background-color: #317f43
}

.ral-grey,
.ral-hover-grey:hover {
    color: #fff;
    background-color: #9b9b9b
}

.ral-brown,
.ral-hover-brown:hover {
    color: #fff;
    background-color: #7b5141
}

.ral-white,
.ral-hover-white:hover {
    color: #000;
    background-color: #f4f4f4
}

.ral-black,
.ral-hover-black:hover {
    color: #fff;
    background-color: #282828
}

.ral-text-yellow,
.ral-text-hover-yellow:hover {
    color: #f7ba0b
}

.ral-text-orange,
.ral-text-hover-orange:hover {
    color: #d4652f
}

.ral-text-red,
.ral-text-hover-red:hover {
    color: #a02128
}

.ral-text-violet,
.ral-text-hover-violet:hover {
    color: #904684
}

.ral-text-blue,
.ral-text-hover-blue:hover {
    color: #154889
}

.ral-text-green,
.ral-text-hover-green:hover {
    color: #317f43
}

.ral-text-grey,
.ral-text-hover-grey:hover {
    color: #9b9b9b
}

.ral-text-brown,
.ral-text-hover-brown:hover {
    color: #7b5141
}

.ral-text-white,
.ral-text-hover-white:hover {
    color: #f4f4f4
}

.ral-text-black,
.ral-text-hover-black:hover {
    color: #282828
}