body {
    height: 100%
}

a {
    text-decoration: none;
    color: #154889
}

a:hover {
    text-decoration: underline;
}

.not-a, .not-a:hover {
    text-decoration: none;
}

* {
    font-family: "Allerta Stencil", Sans-serif !important;
}